{{> _header}}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <nav data-spy="affix" id="nav-wrapper" class="hidden-xs" data-offset-top="60" data-offset-bottom="400">
        <ul class="nav switcher">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{title}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{#each languages}}
                <li>
                  <a href="{{env}}.html">{{title}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        </ul>
        
        <ul class="nav left-nav bs-docs-sidenav">
            {{#each menu}}
              <li>
                <a href="#{{id}}">{{{title}}}</a>
                
                {{#if children}}
                  <ul class="nav">
                    {{#each children}}
                      <li>
                        <a href="#{{id}}">{{{title}}}</a>
                        
                        {{#if children}}
                          <ul class="nav">
                            {{#each children}}
                              <li>
                                <a href="#{{id}}">{{{title}}}</a>
                              </li>    
                            {{/each}}
                          </ul>
                        {{/if}}
                      </li>    
                    {{/each}}
                  </ul>
                {{/if}}
              </li>    
            {{/each}}
          </ul>
        </nav>
    </div>
    <div class="col-sm-9">
      {{{content}}}
    </div>
  </div>  
</div>

{{> _footer}}